[Unit]
Description=Run %p
Requires=docker.service redis.service nginx.service
After=docker.service redis.service nginx.service 

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStart=/usr/bin/docker run -t --rm --name %p \
  --link redis:redis -p 8000:8000 %p
ExecStop=/usr/bin/docker stop %p

[Install]
WantedBy=multi-user.target nginx.service
